* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background: var(--background);
}

:root {
  --white: #fff;

  --gray: #D7D7D7;

  --pink: #FF57B2;

  --background: #1A1D23;
}
